.title {
  font-family: 'Cinzel', serif;
  font-size: 70px;
  font-weight: bold;
  fill: #000000;
}

.desc {
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  font-style: italic;
  fill: #000000;
}
